<!DOCTYPE html>
<html lang="en" ng-app="mediaApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Movies</title>

        <link href="assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <!-- start of search component -->
                <div id="select-bar">
                    <div class="col-md-4" ng-controller="SearchCtrl">
                        <div class="row search-bar">
                            <label for="search-input">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">Search icons</span>
                            </label>
                            <input type="text" placeholder="Search icons" auto-complete 
                            ui-items="titles"  ng-model="keyword" ng-change="autoComplete()" ng-keypress="search(keyword, $event)">
                        </div>
                        <div class="row">
                            <select class="selectpicker" id="genre">
                                <option>All</option>
                                <option>Action</option>
                                <option>Crime</option>
                                <option>Drama</option>
                                <option>Mystery</option>
                                <option>Adventure</option>
                            </select>

                        </div>
                    </div>
                </div>
                <!-- end of search component -->
                <!-- start of movie list component -->
                <div class="col-md-8" ng-controller="MovieCtrl">
                    <div class="row" id="movielList">
                        <div class="col-md-4 movie-results-block" ng-repeat="movie in movieList">
                            <div class="movie-title"> 
                                <h2 class="movie-title-h2 Title">{{movie.Title}}</h2> 
                            </div> 
                            <div class="movie-box"> 
                                <div class="row movie-thumb"> 
                                    <img ng-if="movie.Poster !== 'N/A'" ng-src="{{movie.Poster}}" class="img-responsive">
                                    <img ng-if="movie.Poster === 'N/A'" ng-src="/assets/images/noposter.jpg" class="img-responsive"> 
                                </div>
                                <div class="row text-center" rating rating-value="movie.imdbRating | roundRating" max="5"></div>
                                <div class="row movie-description"> 
                                    <p class="year">
                                        <label for="year">Year:</label>
                                        <span class="year-1 Year">{{movie.Year}}</span> 
                                    </p> 
                                    <p class="genre"> 
                                        <label for="genre">Genre:</label> 
                                        <span class="genre-1">{{movie.Genre}}</span> 
                                    </p> 
                                    <p class="year"> 
                                        <label for="director">Director:</label> 
                                        <span class="director-1">{{movie.director}}</span> 
                                    </p> 
                                    <p class="actors"> 
                                        <label for="actors">Actors:</label> 
                                        <span class="actors-1">{{movie.Actors}}</span> 
                                    </p> 
                                    <p class="plot"> 
                                        <label for="plot">Plot:</label> 
                                        <span class="plot-1">{{movie.Plot}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of movie list component -->
            </div>
        </div>
    </body>
</html>