body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}
.no-spacer {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#select-bar {
    margin-top: 60px;
}
#select-bar .search-bar {
    width: 60%;
}
#select-bar .search-bar label {
    position: absolute;
    left: 7px;
    top: 3px;
}
.search-bar input{
    outline: none;
}
#select-bar .search-bar label:active, #select-bar .search-bar label:focus {
    visibility: hidden;
}
#select-bar .search-bar input {
    width: 100%;
    border-radius: 10px;
    border-color: #000000;
    font-style: italic;
}
#select-bar .search-bar input:hover, #select-bar .search-bar input:active, #select-bar .search-bar input:focus {
    border-color: #000000;
}
#select-bar .search-bar ::-webkit-input-placeholder {
    margin: 0px 25px !important;
    line-height: 1.5em;
}
#select-bar .search-bar :-moz-placeholder {
    margin: 0px 25px;
    line-height: 1.5em;
}
#select-bar .search-bar ::-moz-placeholder {
    margin: 0px 25px;
    line-height: 1.5em;
}
#select-bar .search-bar :-ms-input-placeholder {
    margin: 0px 25px;
    line-height: 1.5em;
}
#select-bar .selectpicker {
    border-radius: 0px;
    background: #93e1fb;
    border: 2px solid #000000;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    margin-top: 60px;
    width: 60%;
}
.rating {
    color: #DDDDDD;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
}
.rating .filled {
    color: #F33327;
}
.movie-results-block {
    margin: 15px 0px;
}
.movie-results-block .movie-title {
    background-color: #8fd46f;
    border-bottom: 0px;
    border: 2px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.movie-results-block .movie-title h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    padding: 5px 15px;
}
.movie-results-block .movie-box {
    min-height: 300px;
    border: 2px solid #000000;
    border-top: 0px;
}
.movie-results-block .movie-box .movie-thumb img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 15px 0px;
}
.movie-results-block .movie-box .movie-description {
    padding-bottom: 15px;
    margin-left: 45px;
}
.movie-results-block .movie-box .movie-description label {
    font-weight: normal;
}
.movie-results-block .movie-box .movie-description p {
    margin-bottom: -4px;
    font-size: 15px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
